Node-RED/easymarket.json
[{"id":"d40479db.2e32f8","type":"tab","label":"Main","disabled":false,"info":""},{"id":"44ecd8ee.939718","type":"link out","z":"d40479db.2e32f8","name":"Start purchase","links":["989ee193.feee5"],"x":1435,"y":200,"wires":[]},{"id":"e6ef3cec.28bc3","type":"inject","z":"d40479db.2e32f8","name":"Verify","props":[{"p":"payload"}],"repeat":"0.5","crontab":"","once":true,"onceDelay":"2","topic":"","payload":"","payloadType":"date","x":140,"y":660,"wires":[["5ada4237.ba1e3c"]]},{"id":"e40cc88c.3aee98","type":"change","z":"d40479db.2e32f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.uid","tot":"msg"},{"t":"set","p":"rfidTriggered","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":415,"y":940,"wires":[["645b371e.fb1ca8","c791c4b1.989cc8"]],"l":false},{"id":"6518e0a.5ea4b2","type":"switch","z":"d40479db.2e32f8","name":"Weight changed?","property":"currentWeight","propertyType":"flow","rules":[{"t":"btwn","v":"$flowContext('lastWeight') - 20","vt":"jsonata","v2":"$flowContext('lastWeight') + 20","v2t":"jsonata"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1170,"y":940,"wires":[["dabfc77c.527228"],["7e67b997.e7f518"]],"outputLabels":["no","yes"]},{"id":"d354aa62.3fe6e8","type":"switch","z":"d40479db.2e32f8","name":"In/out?","property":"weightDifference","propertyType":"flow","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1590,"y":960,"wires":[["63e4eaa8.fb6e34"],["9ef53436.07ad98"]]},{"id":"c9e2ca3a.0526f8","type":"comment","z":"d40479db.2e32f8","name":"Init","info":"","x":70,"y":40,"wires":[]},{"id":"e476a1fd.9d22f","type":"inject","z":"d40479db.2e32f8","name":"Init","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":110,"y":120,"wires":[["63065b67.ff99a4","fec04d73.2fd9e"]]},{"id":"51a26cf9.1a8124","type":"change","z":"d40479db.2e32f8","name":"Init flow vars","rules":[{"t":"set","p":"lastWeight","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"weightDifference","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"currentWeight","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"checkWeight","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"rfidTriggered","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"unindentifiedItem","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"cart","pt":"flow","to":"5477","tot":"str"},{"t":"set","p":"servidor","pt":"flow","to":"192.168.15.98:8080","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":220,"wires":[["81010410.72d8b8"]]},{"id":"7e67b997.e7f518","type":"change","z":"d40479db.2e32f8","name":"Update flow variables","rules":[{"t":"set","p":"weightDifference","pt":"flow","to":"$flowContext('currentWeight') - $flowContext('lastWeight')","tot":"jsonata"},{"t":"set","p":"lastWeight","pt":"flow","to":"currentWeight","tot":"flow"},{"t":"set","p":"rfidTriggered","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1400,"y":960,"wires":[["d354aa62.3fe6e8"]]},{"id":"60056ea0.2152a","type":"rc522","z":"d40479db.2e32f8","name":"RFID","blockedFor":5,"x":90,"y":940,"wires":[["27516c65.a5f704"]]},{"id":"6de483dd.ba493c","type":"rpi-gpio out","z":"d40479db.2e32f8","name":"Blue LED","pin":"13","set":true,"level":"0","freq":"","out":"out","x":560,"y":140,"wires":[]},{"id":"d9644609.e7e9e8","type":"comment","z":"d40479db.2e32f8","name":"Movement","info":"","x":100,"y":1280,"wires":[]},{"id":"a4d4ce21.03ce3","type":"change","z":"d40479db.2e32f8","name":"Tare scale","rules":[{"t":"set","p":"tare","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":600,"wires":[["82c58b5e.6b0348"]]},{"id":"82c58b5e.6b0348","type":"delay","z":"d40479db.2e32f8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":315,"y":600,"wires":[["b8f4d88.2053e28","1f17f5ba.95966a"]],"l":false},{"id":"4adf535b.2e13ac","type":"change","z":"d40479db.2e32f8","name":"","rules":[{"t":"set","p":"checkWeight","pt":"flow","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":540,"wires":[["6de483dd.ba493c"]]},{"id":"b8f4d88.2053e28","type":"delay","z":"d40479db.2e32f8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":315,"y":540,"wires":[["4adf535b.2e13ac"]],"l":false},{"id":"5ada4237.ba1e3c","type":"switch","z":"d40479db.2e32f8","name":"checkWeight?","property":"checkWeight","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":660,"wires":[["1f17f5ba.95966a"]]},{"id":"989ee193.feee5","type":"link in","z":"d40479db.2e32f8","name":"","links":["44ecd8ee.939718"],"x":95,"y":600,"wires":[["a4d4ce21.03ce3"]]},{"id":"fc378c7c.ea662","type":"switch","z":"d40479db.2e32f8","name":"RFID triggered?","property":"rfidTriggered","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1020,"y":640,"wires":[[],["53fb5eae.f2bef"]]},{"id":"dabfc77c.527228","type":"change","z":"d40479db.2e32f8","name":"off","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1370,"y":860,"wires":[["fde0f192.50db3","a96d2788.d8d9c8"]]},{"id":"330caa2b.d6d806","type":"delay","z":"d40479db.2e32f8","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1035,"y":940,"wires":[["6518e0a.5ea4b2"]],"l":false},{"id":"978e06fc.e2b0e8","type":"change","z":"d40479db.2e32f8","name":"off","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"unindentifiedItem","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":560,"wires":[["592a9f7c.f0eee"]]},{"id":"7cfaffb1.7307","type":"change","z":"d40479db.2e32f8","name":"off","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2130,"y":880,"wires":[["6acff70b.4fddb8","39d34552.cb252a","8fbcc3d9.b917f","5f0ba0f4.55a43"]]},{"id":"645b371e.fb1ca8","type":"change","z":"d40479db.2e32f8","name":"on","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":880,"wires":[["8bc9e127.4481a","ca75bfaf.fe254"]]},{"id":"8bc9e127.4481a","type":"rpi-gpio out","z":"d40479db.2e32f8","name":"Red LED","pin":"11","set":true,"level":"0","freq":"","out":"out","x":660,"y":880,"wires":[]},{"id":"6acff70b.4fddb8","type":"rpi-gpio out","z":"d40479db.2e32f8","name":"Red LED","pin":"11","set":true,"level":"0","freq":"","out":"out","x":2340,"y":980,"wires":[]},{"id":"fa1e8636.37a278","type":"rpi-gpio out","z":"d40479db.2e32f8","name":"Green LED","pin":"15","set":true,"level":"0","freq":"","out":"out","x":2510,"y":840,"wires":[]},{"id":"39d34552.cb252a","type":"delay","z":"d40479db.2e32f8","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2295,"y":840,"wires":[["fa1e8636.37a278"]],"l":false},{"id":"1f17f5ba.95966a","type":"hx711","z":"d40479db.2e32f8","name":"","hx_data":"31","hx_sck":"33","hx_scale":"385","hx_offset":"0","hx_avrg":"5","x":470,"y":600,"wires":[["f81815bd.c15448"]]},{"id":"f81815bd.c15448","type":"change","z":"d40479db.2e32f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$floor(payload)","tot":"jsonata"},{"t":"set","p":"currentWeight","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":575,"y":600,"wires":[["28bc86a.fad0b7a"]],"l":false},{"id":"592a9f7c.f0eee","type":"rpi-gpio out","z":"d40479db.2e32f8","name":"Red LED","pin":"11","set":true,"level":"0","freq":"","out":"out","x":1640,"y":560,"wires":[]},{"id":"d20820e6.a3ed3","type":"comment","z":"d40479db.2e32f8","name":"Scale","info":"","x":110,"y":540,"wires":[]},{"id":"562e07ba.c3ccf8","type":"comment","z":"d40479db.2e32f8","name":"RFID","info":"","x":110,"y":820,"wires":[]},{"id":"9ef53436.07ad98","type":"change","z":"d40479db.2e32f8","name":"","rules":[{"t":"set","p":"temp","pt":"flow","to":"payload","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.uid","pt":"msg","to":"temp","tot":"flow"},{"t":"set","p":"payload.direction","pt":"msg","to":"out","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1695,"y":1000,"wires":[["a93e6cc4.21379","29bd1d51.e937d2"]],"l":false},{"id":"a93e6cc4.21379","type":"function","z":"d40479db.2e32f8","name":"update purchaseList","func":"'use strict';\n\n// get current list from flow\nlet list = flow.get('productsList');\n\n// if current item is not already in the list, add it.\nif (!list.has(msg.rfid_code)) {\n    list.set(msg.rfid_code, {\n        name: msg.payload.uid.name,\n        amount: 0,\n    });\n}\n\n// add or remove the item\nswitch (msg.payload.direction) {\n    case 'in':\n        list.get(msg.rfid_code).amount += 1;\n        break;\n    case 'out':\n        list.get(msg.rfid_code).amount -= 1;\n        break;\n}\n\n// save list to flow\nflow.set('productsList', list);\n\nreturn [\n    // LED\n    {},\n    // Server update\n    {\"rfid_code\": msg.rfid_code, \"payload\": list.get(msg.rfid_code).amount},\n     // node red purchase list display\n    {'payload': Array.from(list, ([rfid, value]) => ({title: msg.rfid_code, description: value.name +\" : \" + value.amount}))}\n];","outputs":3,"noerr":0,"initialize":"","finalize":"","x":1880,"y":960,"wires":[["7cfaffb1.7307"],["32195692.c5747a","d513f5ca.4ca9b8"],["910be02c.5c599"]]},{"id":"63e4eaa8.fb6e34","type":"change","z":"d40479db.2e32f8","name":"","rules":[{"t":"set","p":"temp","pt":"flow","to":"payload","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.uid","pt":"msg","to":"temp","tot":"flow"},{"t":"set","p":"payload.direction","pt":"msg","to":"in","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1695,"y":920,"wires":[["a93e6cc4.21379","29bd1d51.e937d2"]],"l":false},{"id":"673ceb5c.64d394","type":"inject","z":"d40479db.2e32f8","name":"Clear list","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[]","payloadType":"json","x":1920,"y":1140,"wires":[["910be02c.5c599","4d7168e.d3dee98"]]},{"id":"53fb5eae.f2bef","type":"delay","z":"d40479db.2e32f8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1155,"y":640,"wires":[["bdfaad7b.81f9d"]],"l":false},{"id":"fde0f192.50db3","type":"delay","z":"d40479db.2e32f8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1495,"y":740,"wires":[["fd85a6a7.3f37a8"]],"l":false},{"id":"fd85a6a7.3f37a8","type":"change","z":"d40479db.2e32f8","name":"off","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1590,"y":740,"wires":[["68d376f7.9078f8"]]},{"id":"bdfaad7b.81f9d","type":"switch","z":"d40479db.2e32f8","name":"RFID triggered?","property":"rfidTriggered","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1280,"y":640,"wires":[[],["8c946b52.0e66b8","11241176.b1633f"]]},{"id":"99a3a9b4.1f6148","type":"switch","z":"d40479db.2e32f8","name":"","property":"unindentifiedItem","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":875,"y":620,"wires":[[],["fc378c7c.ea662"]],"l":false},{"id":"8c946b52.0e66b8","type":"change","z":"d40479db.2e32f8","name":"","rules":[{"t":"set","p":"unindentifiedItem","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1415,"y":640,"wires":[[]],"l":false},{"id":"27516c65.a5f704","type":"switch","z":"d40479db.2e32f8","name":"","property":"unindentifiedItem","propertyType":"flow","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":175,"y":940,"wires":[["89945dae.b8386"]],"l":false},{"id":"11241176.b1633f","type":"change","z":"d40479db.2e32f8","name":"on","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1450,"y":680,"wires":[["592a9f7c.f0eee"]]},{"id":"28bc86a.fad0b7a","type":"switch","z":"d40479db.2e32f8","name":"Weight changed?","property":"currentWeight","propertyType":"flow","rules":[{"t":"btwn","v":"$flowContext('lastWeight') - 20","vt":"jsonata","v2":"$flowContext('lastWeight') + 20","v2t":"jsonata"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":710,"y":600,"wires":[["c2ecc751.a5ad28"],["99a3a9b4.1f6148"]]},{"id":"68d376f7.9078f8","type":"rpi-gpio out","z":"d40479db.2e32f8","name":"Red LED","pin":"11","set":true,"level":"0","freq":"","out":"out","x":1740,"y":740,"wires":[]},{"id":"c2ecc751.a5ad28","type":"switch","z":"d40479db.2e32f8","name":"","property":"unindentifiedItem","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":875,"y":580,"wires":[["978e06fc.e2b0e8"],[]],"l":false},{"id":"e299f491.698638","type":"rpi-gpio out","z":"d40479db.2e32f8","name":"Green LED","pin":"15","set":true,"level":"0","freq":"","out":"out","x":570,"y":80,"wires":[]},{"id":"bac87135.bfdd7","type":"rpi-gpio out","z":"d40479db.2e32f8","name":"Red LED","pin":"11","set":true,"level":"0","freq":"","out":"out","x":560,"y":20,"wires":[]},{"id":"a7598dfe.68ef2","type":"change","z":"d40479db.2e32f8","name":"on","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":140,"wires":[["6de483dd.ba493c"]]},{"id":"ca75bfaf.fe254","type":"rpi-gpio out","z":"d40479db.2e32f8","name":"Blue LED","pin":"13","set":true,"level":"0","freq":"","out":"out","x":660,"y":820,"wires":[]},{"id":"a96d2788.d8d9c8","type":"rpi-gpio out","z":"d40479db.2e32f8","name":"Blue LED","pin":"13","set":true,"level":"0","freq":"","out":"out","x":1580,"y":800,"wires":[]},{"id":"8fbcc3d9.b917f","type":"rpi-gpio out","z":"d40479db.2e32f8","name":"Blue LED","pin":"13","set":true,"level":"0","freq":"","out":"out","x":2340,"y":920,"wires":[]},{"id":"5f0ba0f4.55a43","type":"change","z":"d40479db.2e32f8","name":"on","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2330,"y":880,"wires":[["fa1e8636.37a278"]]},{"id":"63065b67.ff99a4","type":"delay","z":"d40479db.2e32f8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":255,"y":140,"wires":[["a7598dfe.68ef2","e299f491.698638","bac87135.bfdd7"]],"l":false},{"id":"e7fb4bb8.056128","type":"rpi-srf","z":"d40479db.2e32f8","name":"Ultrassonic","topic":"SRF","pulse":"0.5","pins":"16,18","x":100,"y":1680,"wires":[["3cf8d9c4.6576f6"]]},{"id":"910be02c.5c599","type":"ui_list","z":"d40479db.2e32f8","group":"8cbc2e77.de90a","name":"","order":0,"width":"6","height":"10","lineType":"two","actionType":"none","allowHTML":false,"outputs":0,"topic":"","x":2130,"y":1100,"wires":[]},{"id":"55818047.8c9f8","type":"http request","z":"d40479db.2e32f8","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://{{servidor}}/cart/{{cart}}","tls":"","persist":false,"proxy":"","authType":"","x":850,"y":220,"wires":[["6efa9f55.72403","9728997a.5f3f98"]]},{"id":"6efa9f55.72403","type":"switch","z":"d40479db.2e32f8","name":"ok?","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1050,"y":220,"wires":[["55b5d49d.2c5a3c"],["e40471bf.1ae1a"]]},{"id":"e40471bf.1ae1a","type":"delay","z":"d40479db.2e32f8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":940,"y":320,"wires":[["55818047.8c9f8"]]},{"id":"fff0a0ea.1c25e","type":"change","z":"d40479db.2e32f8","name":"","rules":[{"t":"set","p":"cart","pt":"msg","to":"cart","tot":"flow"},{"t":"set","p":"servidor","pt":"msg","to":"servidor","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":220,"wires":[["55818047.8c9f8"]]},{"id":"55b5d49d.2c5a3c","type":"change","z":"d40479db.2e32f8","name":"","rules":[{"t":"set","p":"purchase_id","pt":"flow","to":"payload.purchase","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1260,"y":200,"wires":[["44ecd8ee.939718"]]},{"id":"ca9448c1.d83eb8","type":"http request","z":"d40479db.2e32f8","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://{{servidor}}/item/{{rfid_code}}","tls":"","persist":false,"proxy":"","authType":"","x":730,"y":940,"wires":[["3cf97c64.bcf3c4"]]},{"id":"c791c4b1.989cc8","type":"change","z":"d40479db.2e32f8","name":"","rules":[{"t":"set","p":"rfid_code","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"servidor","pt":"msg","to":"servidor","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":940,"wires":[["ca9448c1.d83eb8"]]},{"id":"3cf97c64.bcf3c4","type":"change","z":"d40479db.2e32f8","name":"","rules":[{"t":"set","p":"weight","pt":"msg","to":"payload.weight","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":940,"wires":[["330caa2b.d6d806"]]},{"id":"461bd17b.a00c5","type":"http request","z":"d40479db.2e32f8","name":"","method":"PUT","ret":"obj","paytoqs":"ignore","url":"http://{{servidor}}//purchase/{{purchase_id}}/{{rfid_code}}","tls":"","persist":false,"proxy":"","authType":"","x":2350,"y":1040,"wires":[[]]},{"id":"32195692.c5747a","type":"change","z":"d40479db.2e32f8","name":"","rules":[{"t":"set","p":"purchase_id","pt":"msg","to":"purchase_id","tot":"flow"},{"t":"set","p":"headers.Content-Type","pt":"msg","to":"application/json","tot":"str"},{"t":"set","p":"servidor","pt":"msg","to":"servidor","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":2160,"y":1040,"wires":[["461bd17b.a00c5"]]},{"id":"be7c898d.bdc198","type":"json","z":"d40479db.2e32f8","name":"","property":"payload","action":"","pretty":false,"x":290,"y":1340,"wires":[["4ea2161f.cbe6c8"]]},{"id":"740f6301.dcc9ac","type":"switch","z":"d40479db.2e32f8","name":"Left/Right/Center","property":"x","propertyType":"msg","rules":[{"t":"lte","v":"0.65","vt":"num"},{"t":"gte","v":"0.35","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":520,"y":1340,"wires":[["bfb4a653.3c5458"],["6a6453c6.21392c"],["fcaeba6d.bdbcc8"]]},{"id":"fcaeba6d.bdbcc8","type":"change","z":"d40479db.2e32f8","name":"","rules":[{"t":"set","p":"direction","pt":"flow","to":"center","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":1380,"wires":[[]]},{"id":"6a6453c6.21392c","type":"change","z":"d40479db.2e32f8","name":"","rules":[{"t":"set","p":"direction","pt":"flow","to":"right","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":1340,"wires":[[]]},{"id":"bfb4a653.3c5458","type":"change","z":"d40479db.2e32f8","name":"","rules":[{"t":"set","p":"direction","pt":"flow","to":"left","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":1300,"wires":[[]]},{"id":"378b5912.0c9116","type":"change","z":"d40479db.2e32f8","name":"enable","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":1660,"wires":[[]]},{"id":"693fcda0.3104e4","type":"change","z":"d40479db.2e32f8","name":"disable","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":1700,"wires":[[]]},{"id":"89945dae.b8386","type":"function","z":"d40479db.2e32f8","name":"hexstring to int","func":"msg.payload.uid = parseInt(msg.payload.uid, 16);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":940,"wires":[["e40cc88c.3aee98"]]},{"id":"cec37e5d.0278b","type":"inject","z":"d40479db.2e32f8","name":"","props":[{"p":"payload.uid","v":"884299b","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":110,"y":860,"wires":[["89945dae.b8386"]]},{"id":"fec04d73.2fd9e","type":"function","z":"d40479db.2e32f8","name":"init flow vars","func":"flow.set('productsList', new Map());\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":230,"y":220,"wires":[["51a26cf9.1a8124"]]},{"id":"d513f5ca.4ca9b8","type":"debug","z":"d40479db.2e32f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2130,"y":960,"wires":[]},{"id":"9728997a.5f3f98","type":"debug","z":"d40479db.2e32f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1030,"y":180,"wires":[]},{"id":"4d7168e.d3dee98","type":"function","z":"d40479db.2e32f8","name":"init flow vars","func":"flow.set('productsList', new Map());\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2110,"y":1180,"wires":[[]]},{"id":"81010410.72d8b8","type":"delay","z":"d40479db.2e32f8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":515,"y":220,"wires":[["fff0a0ea.1c25e"]],"l":false},{"id":"29bd1d51.e937d2","type":"debug","z":"d40479db.2e32f8","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload.direction","targetType":"msg","statusVal":"payload.direction","statusType":"auto","x":1920,"y":1040,"wires":[]},{"id":"3cf8d9c4.6576f6","type":"switch","z":"d40479db.2e32f8","name":"Too close?","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"20","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":1680,"wires":[["378b5912.0c9116"],["693fcda0.3104e4"]],"outputLabels":["no","yes"]},{"id":"4ea2161f.cbe6c8","type":"debug","z":"d40479db.2e32f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":1240,"wires":[]},{"id":"998617b3.4bc848","type":"pythonshell in","z":"d40479db.2e32f8","name":"Camera","pyfile":"/home/nest/EasyMarket/camera.py","virtualenv":"","continuous":true,"stdInData":false,"python3":true,"x":140,"y":1340,"wires":[["be7c898d.bdc198"]]},{"id":"e6bbbff1.cc13e","type":"rpi-gpio out","z":"d40479db.2e32f8","name":"L Motor Enable","pin":"35","set":false,"level":"0","freq":"200","out":"pwm","x":380,"y":1580,"wires":[]},{"id":"89a5ac1e.acd67","type":"rpi-gpio out","z":"d40479db.2e32f8","name":"R Motor Enable","pin":"37","set":false,"level":"0","freq":"200","out":"pwm","x":380,"y":1500,"wires":[]},{"id":"e6190031.16e88","type":"inject","z":"d40479db.2e32f8","name":"50%","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"50","payloadType":"num","x":150,"y":1520,"wires":[["89a5ac1e.acd67","e6bbbff1.cc13e"]]},{"id":"8331a041.89c2c","type":"comment","z":"d40479db.2e32f8","name":"Sets PWM for motor","info":"","x":120,"y":1460,"wires":[]},{"id":"d1edb0e3.d1a49","type":"inject","z":"d40479db.2e32f8","name":"100%","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"100","payloadType":"num","x":150,"y":1560,"wires":[["89a5ac1e.acd67","e6bbbff1.cc13e"]]},{"id":"b6003bdc.39a728","type":"rpi-gpio out","z":"d40479db.2e32f8","name":"L Motor +","pin":"40","set":true,"level":"0","freq":"","out":"out","x":920,"y":1240,"wires":[]},{"id":"c5c6cc12.2520f","type":"rpi-gpio out","z":"d40479db.2e32f8","name":"L Motor -","pin":"38","set":true,"level":"0","freq":"","out":"out","x":920,"y":1300,"wires":[]},{"id":"226bcbb7.94e954","type":"rpi-gpio out","z":"d40479db.2e32f8","name":"R Motor +","pin":"36","set":true,"level":"0","freq":"","out":"out","x":920,"y":1360,"wires":[]},{"id":"7d2f6be2.be9594","type":"rpi-gpio out","z":"d40479db.2e32f8","name":"R Motor -","pin":"32","set":true,"level":"0","freq":"","out":"out","x":920,"y":1420,"wires":[]},{"id":"8cbc2e77.de90a","type":"ui_group","name":"Shopping Cart","tab":"486b67db.54ba98","order":1,"disp":true,"width":"6","collapse":false},{"id":"486b67db.54ba98","type":"ui_tab","name":"Main Screen","icon":"dashboard","order":2,"disabled":false,"hidden":false}]