Node-RED/easymarket.json
[{"id":"184d2911.7b8ad7","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"fa9bbfb9.ad7ba","type":"inject","z":"184d2911.7b8ad7","name":"Verifica","props":[{"p":"payload"}],"repeat":"3","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":180,"wires":[[]]},{"id":"234bd057.47194","type":"http request","z":"184d2911.7b8ad7","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":180,"wires":[["a76f1c16.b631a"]]},{"id":"a76f1c16.b631a","type":"switch","z":"184d2911.7b8ad7","name":"Compra iniciada?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"started","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":180,"wires":[["c9eb5840.205028"]]},{"id":"c9eb5840.205028","type":"link out","z":"184d2911.7b8ad7","name":"","links":[],"x":655,"y":200,"wires":[]},{"id":"322a5582.7dd18a","type":"inject","z":"184d2911.7b8ad7","name":"Verifica","props":[{"p":"payload"}],"repeat":"3","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":400,"wires":[[]]},{"id":"e5c13d65.c0531","type":"change","z":"184d2911.7b8ad7","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.uid","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":175,"y":620,"wires":[["1ef76dea.590ed2"]],"l":false},{"id":"1ef76dea.590ed2","type":"http request","z":"184d2911.7b8ad7","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":620,"wires":[["e343b6c9.3c9d48"]]},{"id":"e343b6c9.3c9d48","type":"switch","z":"184d2911.7b8ad7","name":"Peso bate?","property":"payload.weight","propertyType":"msg","rules":[{"t":"btwn","v":"$abs($flowContext('weightDifference')) + 5","vt":"jsonata","v2":"$abs($flowContext('weightDifference')) - 5","v2t":"jsonata"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":620,"wires":[["85d33197.cfe2e"],["47d1fca0.82d224"]]},{"id":"222c23a0.999a9c","type":"switch","z":"184d2911.7b8ad7","name":"Peso mudou?","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"$flowContext('lastWeight') - 20","vt":"jsonata","v2":"$flowContext('lastWeight') + 20","v2t":"jsonata"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":440,"y":400,"wires":[[],["2ca0aeb0.808ec2"]]},{"id":"85d33197.cfe2e","type":"switch","z":"184d2911.7b8ad7","name":"Colocou/retirou?","property":"weightDifference","propertyType":"flow","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":660,"y":600,"wires":[["3cb4f717.25c368","7681dd63.29b894"],[]]},{"id":"3cb4f717.25c368","type":"http request","z":"184d2911.7b8ad7","name":"Notifica produto adicionado","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":900,"y":560,"wires":[[]]},{"id":"7681dd63.29b894","type":"http request","z":"184d2911.7b8ad7","name":"Notifica produto removido","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":890,"y":620,"wires":[[]]},{"id":"5afaeccc.c03724","type":"comment","z":"184d2911.7b8ad7","name":"Init","info":"","x":90,"y":60,"wires":[]},{"id":"77e88c25.6e4b24","type":"inject","z":"184d2911.7b8ad7","name":"Init","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":120,"wires":[["65daf1d8.6a275"]]},{"id":"65daf1d8.6a275","type":"change","z":"184d2911.7b8ad7","name":"","rules":[{"t":"set","p":"id","pt":"flow","to":"123456789","tot":"str"},{"t":"set","p":"lastWeight","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"weightDifference","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":120,"wires":[[]]},{"id":"2ca0aeb0.808ec2","type":"change","z":"184d2911.7b8ad7","name":"","rules":[{"t":"set","p":"weightDifference","pt":"flow","to":"payload - $flowContext('lastWeight')","tot":"jsonata"},{"t":"set","p":"lastWeight","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":400,"wires":[[]]},{"id":"ba24f168.04efd","type":"comment","z":"184d2911.7b8ad7","name":"Balança","info":"","x":270,"y":400,"wires":[]},{"id":"f86ac5c4.d326d8","type":"comment","z":"184d2911.7b8ad7","name":"RFID","info":"","x":90,"y":620,"wires":[]},{"id":"47d1fca0.82d224","type":"http request","z":"184d2911.7b8ad7","name":"Notifica produto removido","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":670,"y":680,"wires":[[]]}]