Node-RED/integracao1.json
[{"id":"184d2911.7b8ad7","type":"tab","label":"Main","disabled":false,"info":""},{"id":"c9eb5840.205028","type":"link out","z":"184d2911.7b8ad7","name":"","links":["3de5c859.4ea398"],"x":295,"y":260,"wires":[]},{"id":"322a5582.7dd18a","type":"inject","z":"184d2911.7b8ad7","name":"Verify","props":[{"p":"payload"}],"repeat":"0.5","crontab":"","once":true,"onceDelay":"2","topic":"","payload":"","payloadType":"date","x":190,"y":440,"wires":[["3390e41f.375f7c"]]},{"id":"e5c13d65.c0531","type":"change","z":"184d2911.7b8ad7","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.uid","tot":"msg"},{"t":"set","p":"rfidTriggered","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":275,"y":720,"wires":[["7f12c293.9fffac","5763a3e2.c2ff0c"]],"l":false},{"id":"222c23a0.999a9c","type":"switch","z":"184d2911.7b8ad7","name":"Weight changed?","property":"currentWeight","propertyType":"flow","rules":[{"t":"btwn","v":"$flowContext('lastWeight') - 20","vt":"jsonata","v2":"$flowContext('lastWeight') + 20","v2t":"jsonata"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":720,"wires":[["c216287c.261888"],["2ca0aeb0.808ec2","85d33197.cfe2e"]]},{"id":"85d33197.cfe2e","type":"switch","z":"184d2911.7b8ad7","name":"In/out?","property":"weightDifference","propertyType":"flow","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":720,"wires":[["22447dbc.f5b242"],["ff731f26.76b2d"]]},{"id":"5afaeccc.c03724","type":"comment","z":"184d2911.7b8ad7","name":"Init","info":"","x":90,"y":60,"wires":[]},{"id":"77e88c25.6e4b24","type":"inject","z":"184d2911.7b8ad7","name":"Init","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":130,"y":120,"wires":[["65daf1d8.6a275","6930d664.c25998","18fc542b.592c3c"]]},{"id":"65daf1d8.6a275","type":"change","z":"184d2911.7b8ad7","name":"Init flow variables","rules":[{"t":"set","p":"lastWeight","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"weightDifference","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"currentWeight","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"checkWeight","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"rfidTriggered","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"productsList","pt":"flow","to":"[]","tot":"json"},{"t":"set","p":"unindentifiedItem","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":60,"wires":[[]]},{"id":"2ca0aeb0.808ec2","type":"change","z":"184d2911.7b8ad7","name":"Update flow variables","rules":[{"t":"set","p":"weightDifference","pt":"flow","to":"$flowContext('currentWeight') - $flowContext('lastWeight')","tot":"jsonata"},{"t":"set","p":"lastWeight","pt":"flow","to":"currentWeight","tot":"flow"},{"t":"set","p":"rfidTriggered","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":640,"wires":[[]]},{"id":"960583cd.36b26","type":"rc522","z":"184d2911.7b8ad7","name":"RFID","blockedFor":5,"x":90,"y":720,"wires":[["10675ce0.6b49f3","476fe323.6d0bdc"]]},{"id":"9aef228a.3b4c7","type":"rpi-gpio out","z":"184d2911.7b8ad7","name":"L Motor Enable","pin":"35","set":true,"level":"0","freq":"","out":"out","x":660,"y":1020,"wires":[]},{"id":"6778aa26.7f84b4","type":"rpi-gpio out","z":"184d2911.7b8ad7","name":"R Motor Enable","pin":"37","set":true,"level":"0","freq":"","out":"out","x":660,"y":940,"wires":[]},{"id":"1cb1dfc3.2fa19","type":"rpi-srf","z":"184d2911.7b8ad7","name":"Ultrassonic","topic":"SRF","pulse":"0.5","pins":"16,18","x":120,"y":980,"wires":[["1d8ad7b6.b38ec8"]]},{"id":"1d8ad7b6.b38ec8","type":"switch","z":"184d2911.7b8ad7","name":"Too close?","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"50","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":280,"y":980,"wires":[["c5395e82.3c567"],["72b10c72.ebe144"]]},{"id":"c5395e82.3c567","type":"change","z":"184d2911.7b8ad7","name":"Enable","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":940,"wires":[["9aef228a.3b4c7","6778aa26.7f84b4"]]},{"id":"72b10c72.ebe144","type":"change","z":"184d2911.7b8ad7","name":"Disable","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":1020,"wires":[["6778aa26.7f84b4","9aef228a.3b4c7"]]},{"id":"156fc762.189249","type":"rpi-gpio out","z":"184d2911.7b8ad7","name":"Blue LED","pin":"13","set":true,"level":"0","freq":"","out":"out","x":580,"y":160,"wires":[]},{"id":"4b90b6b4.5e9198","type":"comment","z":"184d2911.7b8ad7","name":"Distance detection","info":"","x":110,"y":920,"wires":[]},{"id":"748d174c.f08758","type":"change","z":"184d2911.7b8ad7","name":"Tare scale","rules":[{"t":"set","p":"tare","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":380,"wires":[["20fcda57.f10e86"]]},{"id":"20fcda57.f10e86","type":"delay","z":"184d2911.7b8ad7","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":295,"y":380,"wires":[["e6783f43.9c29a","79913522.41c43c"]],"l":false},{"id":"6cc9927.8cb346c","type":"change","z":"184d2911.7b8ad7","name":"","rules":[{"t":"set","p":"checkWeight","pt":"flow","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":320,"wires":[["156fc762.189249"]]},{"id":"e6783f43.9c29a","type":"delay","z":"184d2911.7b8ad7","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":295,"y":320,"wires":[["6cc9927.8cb346c"]],"l":false},{"id":"3390e41f.375f7c","type":"switch","z":"184d2911.7b8ad7","name":"checkWeight?","property":"checkWeight","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":340,"y":440,"wires":[["79913522.41c43c"]]},{"id":"3de5c859.4ea398","type":"link in","z":"184d2911.7b8ad7","name":"","links":["c9eb5840.205028"],"x":75,"y":380,"wires":[["748d174c.f08758"]]},{"id":"cb648b3a.e870a8","type":"switch","z":"184d2911.7b8ad7","name":"RFID triggered?","property":"rfidTriggered","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1000,"y":420,"wires":[[],["f37b2330.dd4d"]]},{"id":"c216287c.261888","type":"change","z":"184d2911.7b8ad7","name":"off","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":640,"wires":[["744554dd.7e72ec","36920695.49535a"]]},{"id":"7f12c293.9fffac","type":"delay","z":"184d2911.7b8ad7","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":355,"y":720,"wires":[["222c23a0.999a9c"]],"l":false},{"id":"20e86ad0.3b6df6","type":"change","z":"184d2911.7b8ad7","name":"off","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"unindentifiedItem","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":360,"wires":[["756908a5.fd5618"]]},{"id":"5bb256b9.3f9ad8","type":"change","z":"184d2911.7b8ad7","name":"off","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":680,"wires":[["cd3889aa.8c17f8","b2cef9a5.363088","ee9325d4.2b8428","fd2c9b5c.40d0c8"]]},{"id":"5763a3e2.c2ff0c","type":"change","z":"184d2911.7b8ad7","name":"on","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":660,"wires":[["764a71d8.db25f","767b697f.ce5df8"]]},{"id":"764a71d8.db25f","type":"rpi-gpio out","z":"184d2911.7b8ad7","name":"Red LED","pin":"11","set":true,"level":"0","freq":"","out":"out","x":420,"y":660,"wires":[]},{"id":"cd3889aa.8c17f8","type":"rpi-gpio out","z":"184d2911.7b8ad7","name":"Red LED","pin":"11","set":true,"level":"0","freq":"","out":"out","x":1220,"y":800,"wires":[]},{"id":"1251b846.db3968","type":"rpi-gpio out","z":"184d2911.7b8ad7","name":"Green LED","pin":"15","set":true,"level":"0","freq":"","out":"out","x":1310,"y":620,"wires":[]},{"id":"b2cef9a5.363088","type":"delay","z":"184d2911.7b8ad7","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1175,"y":620,"wires":[["1251b846.db3968"]],"l":false},{"id":"79913522.41c43c","type":"hx711","z":"184d2911.7b8ad7","name":"","hx_data":"31","hx_sck":"33","hx_scale":"385","hx_offset":"0","hx_avrg":"5","x":450,"y":380,"wires":[["838a704e.95aa"]]},{"id":"838a704e.95aa","type":"change","z":"184d2911.7b8ad7","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$floor(payload)","tot":"jsonata"},{"t":"set","p":"currentWeight","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":555,"y":380,"wires":[["19e01e31.5b29f2"]],"l":false},{"id":"756908a5.fd5618","type":"rpi-gpio out","z":"184d2911.7b8ad7","name":"Red LED","pin":"11","set":true,"level":"0","freq":"","out":"out","x":1500,"y":360,"wires":[]},{"id":"10675ce0.6b49f3","type":"debug","z":"184d2911.7b8ad7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":270,"y":800,"wires":[]},{"id":"b0405b5d.6ffdd8","type":"ui_list","z":"184d2911.7b8ad7","group":"8cbc2e77.de90a","name":"","order":0,"width":"6","height":"10","lineType":"one","actionType":"none","allowHTML":false,"outputs":0,"topic":"","x":1070,"y":780,"wires":[]},{"id":"85c365e7.98e178","type":"comment","z":"184d2911.7b8ad7","name":"Scale","info":"","x":90,"y":320,"wires":[]},{"id":"cc1de7b7.c17ec8","type":"comment","z":"184d2911.7b8ad7","name":"RFID","info":"","x":90,"y":600,"wires":[]},{"id":"ff731f26.76b2d","type":"change","z":"184d2911.7b8ad7","name":"","rules":[{"t":"set","p":"temp","pt":"flow","to":"payload","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.uid","pt":"msg","to":"temp","tot":"flow"},{"t":"set","p":"payload.direction","pt":"msg","to":"out","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":815,"y":760,"wires":[["665250de.45fad"]],"l":false},{"id":"665250de.45fad","type":"function","z":"184d2911.7b8ad7","name":"","func":"function removeA(arr) {\n    var what, a = arguments, L = a.length, ax;\n    while (L > 1 && arr.length) {\n        what = a[--L];\n        while ((ax= arr.indexOf(what)) !== -1) {\n            arr.splice(ax, 1);\n        }\n    }\n    return arr;\n}\n\nlet productsMap = {\n    \"884299b\": \"Sabonete\",\n    \"8842399\": \"Protetor solar\",\n    \"884399b\": \"Creme Hidratante\",\n};\n\nlet list = flow.get('productsList');\n\nswitch (msg.payload.direction) {\n    case 'in':\n        list.push(msg.payload.uid);\n        break;\n    case 'out':\n        list = removeA(list, msg.payload.uid);\n        break;\n}\n\nflow.set('productsList', list);\n\nlet descriptionList = [];\n\nfor (let i = 0; i < list.length; i++) {\n    descriptionList.push({\n        title: productsMap[list[i]]\n    });\n}\n\nmsg.payload = descriptionList;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":720,"wires":[["b0405b5d.6ffdd8","5bb256b9.3f9ad8"]]},{"id":"22447dbc.f5b242","type":"change","z":"184d2911.7b8ad7","name":"","rules":[{"t":"set","p":"temp","pt":"flow","to":"payload","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.uid","pt":"msg","to":"temp","tot":"flow"},{"t":"set","p":"payload.direction","pt":"msg","to":"in","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":815,"y":680,"wires":[["665250de.45fad"]],"l":false},{"id":"d3b8bb29.7cf968","type":"ui_button","z":"184d2911.7b8ad7","name":"","group":"4e7228f8.91e788","order":1,"width":0,"height":0,"passthru":false,"label":"Start!","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"1","payloadType":"num","topic":"topic","topicType":"msg","x":150,"y":220,"wires":[["c9eb5840.205028","6930d664.c25998"]]},{"id":"c9be57b3.2b5a68","type":"inject","z":"184d2911.7b8ad7","name":"Clear list","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[]","payloadType":"json","x":900,"y":840,"wires":[["b0405b5d.6ffdd8","837c94d1.fe8808"]]},{"id":"837c94d1.fe8808","type":"change","z":"184d2911.7b8ad7","name":"","rules":[{"t":"set","p":"productsList","pt":"flow","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1025,"y":840,"wires":[[]],"l":false},{"id":"f37b2330.dd4d","type":"delay","z":"184d2911.7b8ad7","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1135,"y":420,"wires":[["f637e56b.558bc8"]],"l":false},{"id":"744554dd.7e72ec","type":"delay","z":"184d2911.7b8ad7","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":675,"y":520,"wires":[["95a44db3.ab285"]],"l":false},{"id":"95a44db3.ab285","type":"change","z":"184d2911.7b8ad7","name":"off","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":520,"wires":[["bf379d3e.90871"]]},{"id":"f637e56b.558bc8","type":"switch","z":"184d2911.7b8ad7","name":"RFID triggered?","property":"rfidTriggered","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1260,"y":420,"wires":[[],["cf6b31f8.0c204","3aded617.9ceafa"]]},{"id":"aacd9819.81e178","type":"switch","z":"184d2911.7b8ad7","name":"","property":"unindentifiedItem","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":855,"y":400,"wires":[[],["cb648b3a.e870a8"]],"l":false},{"id":"cf6b31f8.0c204","type":"change","z":"184d2911.7b8ad7","name":"","rules":[{"t":"set","p":"unindentifiedItem","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1395,"y":420,"wires":[[]],"l":false},{"id":"476fe323.6d0bdc","type":"switch","z":"184d2911.7b8ad7","name":"","property":"unindentifiedItem","propertyType":"flow","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":215,"y":720,"wires":[["e5c13d65.c0531"]],"l":false},{"id":"3aded617.9ceafa","type":"change","z":"184d2911.7b8ad7","name":"on","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1410,"y":460,"wires":[["756908a5.fd5618"]]},{"id":"19e01e31.5b29f2","type":"switch","z":"184d2911.7b8ad7","name":"Weight changed?","property":"currentWeight","propertyType":"flow","rules":[{"t":"btwn","v":"$flowContext('lastWeight') - 20","vt":"jsonata","v2":"$flowContext('lastWeight') + 20","v2t":"jsonata"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":690,"y":380,"wires":[["832968d4.263d08"],["aacd9819.81e178"]]},{"id":"bf379d3e.90871","type":"rpi-gpio out","z":"184d2911.7b8ad7","name":"Red LED","pin":"11","set":true,"level":"0","freq":"","out":"out","x":920,"y":520,"wires":[]},{"id":"832968d4.263d08","type":"switch","z":"184d2911.7b8ad7","name":"","property":"unindentifiedItem","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":855,"y":360,"wires":[["20e86ad0.3b6df6"],[]],"l":false},{"id":"b0d3261d.5e12b8","type":"rpi-gpio out","z":"184d2911.7b8ad7","name":"Green LED","pin":"15","set":true,"level":"0","freq":"","out":"out","x":590,"y":100,"wires":[]},{"id":"a685a27d.251f","type":"rpi-gpio out","z":"184d2911.7b8ad7","name":"Red LED","pin":"11","set":true,"level":"0","freq":"","out":"out","x":580,"y":40,"wires":[]},{"id":"15ec7376.6f478d","type":"change","z":"184d2911.7b8ad7","name":"on","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":160,"wires":[["156fc762.189249"]]},{"id":"6930d664.c25998","type":"ui_ui_control","z":"184d2911.7b8ad7","name":"","events":"change","x":340,"y":220,"wires":[[]]},{"id":"767b697f.ce5df8","type":"rpi-gpio out","z":"184d2911.7b8ad7","name":"Blue LED","pin":"13","set":true,"level":"0","freq":"","out":"out","x":420,"y":600,"wires":[]},{"id":"36920695.49535a","type":"rpi-gpio out","z":"184d2911.7b8ad7","name":"Blue LED","pin":"13","set":true,"level":"0","freq":"","out":"out","x":760,"y":580,"wires":[]},{"id":"ee9325d4.2b8428","type":"rpi-gpio out","z":"184d2911.7b8ad7","name":"Blue LED","pin":"13","set":true,"level":"0","freq":"","out":"out","x":1220,"y":740,"wires":[]},{"id":"fd2c9b5c.40d0c8","type":"change","z":"184d2911.7b8ad7","name":"on","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1230,"y":700,"wires":[["1251b846.db3968"]]},{"id":"18fc542b.592c3c","type":"delay","z":"184d2911.7b8ad7","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":275,"y":120,"wires":[["15ec7376.6f478d","b0d3261d.5e12b8","a685a27d.251f"]],"l":false},{"id":"8cbc2e77.de90a","type":"ui_group","name":"Shopping Cart","tab":"486b67db.54ba98","order":1,"disp":true,"width":"6","collapse":false},{"id":"4e7228f8.91e788","type":"ui_group","name":"EasyMarket","tab":"f1beadc8.734e3","order":1,"disp":true,"width":"6","collapse":false},{"id":"486b67db.54ba98","type":"ui_tab","name":"Main Screen","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"f1beadc8.734e3","type":"ui_tab","name":"Oficinas","icon":"dashboard","order":1,"disabled":false,"hidden":false}]