Node-RED/motor.json
[{"id":"eb080977.e78cf8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"70b109c2.2259b8","type":"rpi-gpio out","z":"eb080977.e78cf8","name":"Motor A Enable","pin":"11","set":true,"level":"1","freq":"","out":"out","x":320,"y":100,"wires":[]},{"id":"45772561.76d81c","type":"inject","z":"eb080977.e78cf8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":150,"y":100,"wires":[["70b109c2.2259b8"]]},{"id":"13074c7d.a90854","type":"rpi-gpio out","z":"eb080977.e78cf8","name":"Motor A Enable","pin":"29","set":true,"level":"1","freq":"","out":"out","x":320,"y":160,"wires":[]},{"id":"812a568a.ff53a8","type":"inject","z":"eb080977.e78cf8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":150,"y":160,"wires":[["13074c7d.a90854"]]},{"id":"423ee3be.c02a3c","type":"rpi-gpio out","z":"eb080977.e78cf8","name":"","pin":"13","set":true,"level":"0","freq":"","out":"out","x":340,"y":260,"wires":[]},{"id":"9f7564ea.ddd188","type":"rpi-gpio out","z":"eb080977.e78cf8","name":"","pin":"15","set":true,"level":"0","freq":"","out":"out","x":340,"y":320,"wires":[]},{"id":"1051dc1e.da1054","type":"rpi-gpio out","z":"eb080977.e78cf8","name":"","pin":"31","set":true,"level":"0","freq":"","out":"out","x":340,"y":380,"wires":[]},{"id":"7f5217da.e0da38","type":"rpi-gpio out","z":"eb080977.e78cf8","name":"","pin":"37","set":true,"level":"0","freq":"","out":"out","x":340,"y":440,"wires":[]},{"id":"681ed887.b29fa8","type":"ui_switch","z":"eb080977.e78cf8","name":"","label":"Frente","tooltip":"","group":"4e5b3051.9c657","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":130,"y":380,"wires":[["9f7564ea.ddd188","1051dc1e.da1054"]]},{"id":"933803e0.32a43","type":"ui_switch","z":"eb080977.e78cf8","name":"","label":"Ré","tooltip":"","group":"4e5b3051.9c657","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":130,"y":320,"wires":[["423ee3be.c02a3c","7f5217da.e0da38"]]},{"id":"492fa34.dfd135c","type":"ui_switch","z":"eb080977.e78cf8","name":"","label":"Direita","tooltip":"","group":"4e5b3051.9c657","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":130,"y":260,"wires":[["9f7564ea.ddd188"]]},{"id":"f441d258.deff2","type":"ui_switch","z":"eb080977.e78cf8","name":"","label":"Esquerda","tooltip":"","group":"4e5b3051.9c657","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":120,"y":440,"wires":[["1051dc1e.da1054"]]},{"id":"4e5b3051.9c657","type":"ui_group","name":"Default","tab":"f1beadc8.734e3","order":1,"disp":true,"width":"6","collapse":false},{"id":"f1beadc8.734e3","type":"ui_tab","name":"Oficinas","icon":"dashboard","disabled":false,"hidden":false}]