Node-RED/movimento.json
[{"id":"b3738e3c.7bf588","type":"tab","label":"Movement test","disabled":false,"info":""},{"id":"470a8f71.3194a","type":"rpi-gpio out","z":"b3738e3c.7bf588","name":"L Motor Enable","pin":"35","set":true,"level":"0","freq":"","out":"out","x":940,"y":560,"wires":[]},{"id":"18023a8b.e49665","type":"rpi-gpio out","z":"b3738e3c.7bf588","name":"R Motor Enable","pin":"37","set":true,"level":"0","freq":"","out":"out","x":940,"y":360,"wires":[]},{"id":"78016be.dcd9494","type":"switch","z":"b3738e3c.7bf588","name":"Too close?","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"50","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":400,"wires":[["84301fe0.cd78b8","24bec554.0b94a2"],["be10d571.fcaec"]],"outputLabels":["no","yes"]},{"id":"be10d571.fcaec","type":"change","z":"b3738e3c.7bf588","name":"Disable","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":560,"wires":[["470a8f71.3194a","18023a8b.e49665"]]},{"id":"51d1adc5.fdff44","type":"comment","z":"b3738e3c.7bf588","name":"Movement","info":"","x":100,"y":160,"wires":[]},{"id":"3aeb61a7.784a56","type":"rpi-srf","z":"b3738e3c.7bf588","name":"Ultrassonic","topic":"SRF","pulse":"0.5","pins":"16,18","x":130,"y":400,"wires":[["78016be.dcd9494"]]},{"id":"9010a904.a3a1b","type":"pythonshell in","z":"b3738e3c.7bf588","name":"camera.py","pyfile":"./camera.py","virtualenv":"","continuous":true,"stdInData":false,"python3":true,"x":150,"y":220,"wires":[["21a9c7b6.d3d68"]]},{"id":"21a9c7b6.d3d68","type":"json","z":"b3738e3c.7bf588","name":"","property":"payload","action":"","pretty":false,"x":300,"y":220,"wires":[["bebf6ad.73a4d18"]]},{"id":"bebf6ad.73a4d18","type":"switch","z":"b3738e3c.7bf588","name":"Left/Right/Center","property":"x","propertyType":"msg","rules":[{"t":"lte","v":"0.65","vt":"num"},{"t":"gte","v":"0.35","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":470,"y":220,"wires":[["9319b752.7f757"],["d938c66b.a101b8"],["168dbfa5.b948e"]]},{"id":"168dbfa5.b948e","type":"change","z":"b3738e3c.7bf588","name":"","rules":[{"t":"set","p":"direction","pt":"flow","to":"center","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":260,"wires":[[]]},{"id":"d938c66b.a101b8","type":"change","z":"b3738e3c.7bf588","name":"","rules":[{"t":"set","p":"direction","pt":"flow","to":"right","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":220,"wires":[[]]},{"id":"9319b752.7f757","type":"change","z":"b3738e3c.7bf588","name":"","rules":[{"t":"set","p":"direction","pt":"flow","to":"left","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":180,"wires":[[]]},{"id":"84301fe0.cd78b8","type":"switch","z":"b3738e3c.7bf588","name":"activate right?","property":"direction","propertyType":"flow","rules":[{"t":"eq","v":"right","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":520,"y":360,"wires":[["d9275b35.31c94"],["4c5feeb2.2e9d"]]},{"id":"4c5feeb2.2e9d","type":"change","z":"b3738e3c.7bf588","name":"enable","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":380,"wires":[["18023a8b.e49665"]]},{"id":"d9275b35.31c94","type":"change","z":"b3738e3c.7bf588","name":"disable","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":340,"wires":[["18023a8b.e49665"]]},{"id":"24bec554.0b94a2","type":"switch","z":"b3738e3c.7bf588","name":"activate left?","property":"direction","propertyType":"flow","rules":[{"t":"eq","v":"left","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":500,"wires":[["c8498136.a75948"],["851282b7.627cc"]]},{"id":"851282b7.627cc","type":"change","z":"b3738e3c.7bf588","name":"enable","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":520,"wires":[["470a8f71.3194a"]]},{"id":"c8498136.a75948","type":"change","z":"b3738e3c.7bf588","name":"disable","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":480,"wires":[["470a8f71.3194a"]]}]