Node-RED/rfid.json
[{"id":"eb080977.e78cf8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"6b2d5802.dc6d88","type":"rc522","z":"eb080977.e78cf8","name":"","blockedFor":5,"x":110,"y":300,"wires":[["dc40f.e6b64bf1"]]},{"id":"dc40f.e6b64bf1","type":"switch","z":"eb080977.e78cf8","name":"","property":"payload.uid","propertyType":"msg","rules":[{"t":"eq","v":"5024faa7","vt":"str"},{"t":"eq","v":"ee4625d9","vt":"str"},{"t":"eq","v":"8946f11","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":230,"y":300,"wires":[["883fd026.7d7d2"],["f0d7bdaf.ca8c9"],["f0405e43.4fc6"]]},{"id":"883fd026.7d7d2","type":"change","z":"eb080977.e78cf8","name":"Azul","rules":[{"t":"set","p":"payload","pt":"msg","to":"Azul","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":260,"wires":[["2b20417e.d767ee"]]},{"id":"2b20417e.d767ee","type":"ui_text","z":"eb080977.e78cf8","group":"4e5b3051.9c657","order":0,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":530,"y":300,"wires":[]},{"id":"f0d7bdaf.ca8c9","type":"change","z":"eb080977.e78cf8","name":"Laranja","rules":[{"t":"set","p":"payload","pt":"msg","to":"Laranja","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":300,"wires":[["2b20417e.d767ee"]]},{"id":"f0405e43.4fc6","type":"change","z":"eb080977.e78cf8","name":"Rosa","rules":[{"t":"set","p":"payload","pt":"msg","to":"Rosa","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":340,"wires":[["2b20417e.d767ee"]]},{"id":"4e5b3051.9c657","type":"ui_group","name":"Default","tab":"f1beadc8.734e3","order":1,"disp":true,"width":"6","collapse":false},{"id":"f1beadc8.734e3","type":"ui_tab","name":"Oficinas","icon":"dashboard","disabled":false,"hidden":false}]