carrinho/Node-RED/Motor+reconhecimento.json
[{"id":"ac4fb5a7.0582d8","type":"inject","z":"44a2ef16.f7762","name":"Low","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"{\"low\":{\"h\":133,\"s\":0.47,\"v\":0.52}}","payloadType":"json","x":150,"y":1440,"wires":[["4532a75a.b6b0a8"]]},{"id":"4532a75a.b6b0a8","type":"pythonshell in","z":"44a2ef16.f7762","name":"camera.py","pyfile":"/home/nest/EasyMarket/camera.py","virtualenv":"","continuous":true,"stdInData":true,"python3":true,"x":330,"y":1460,"wires":[["27bfde3.93f5f22"]]},{"id":"27bfde3.93f5f22","type":"switch","z":"44a2ef16.f7762","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":455,"y":1460,"wires":[["619ba8bd.707028"]],"l":false},{"id":"82a5872a.cc5af8","type":"inject","z":"44a2ef16.f7762","name":"High","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"{\"high\":{\"h\":220,\"s\":1,\"v\":1}}","payloadType":"json","x":150,"y":1480,"wires":[["4532a75a.b6b0a8"]]},{"id":"619ba8bd.707028","type":"json","z":"44a2ef16.f7762","name":"","property":"payload","action":"","pretty":false,"x":550,"y":1460,"wires":[["1a6ce2f3.d5cd6d","a267ca7a.ac5178"]]},{"id":"1a6ce2f3.d5cd6d","type":"debug","z":"44a2ef16.f7762","name":"camera.py","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.mean_distance","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":1380,"wires":[]},{"id":"a267ca7a.ac5178","type":"switch","z":"44a2ef16.f7762","name":"Left/Right/Center","property":"payload.x","propertyType":"msg","rules":[{"t":"lt","v":"0.20","vt":"num"},{"t":"gt","v":"0.80","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":750,"y":1460,"wires":[["76599323.bc0d7c"],["44fcd7e1.f28028"],["ca212bba.7ebbc8"]]},{"id":"76599323.bc0d7c","type":"change","z":"44a2ef16.f7762","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":875,"y":1420,"wires":[["d178d715.2c9aa8","47945585.1cc7bc","8d23ac0d.524f8","ba75c89f.160f48"]],"l":false},{"id":"44fcd7e1.f28028","type":"change","z":"44a2ef16.f7762","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":875,"y":1460,"wires":[["ab51ddae.e206b","54deee5e.9ad49","8d23ac0d.524f8","c6a486f1.43bc18"]],"l":false},{"id":"ca212bba.7ebbc8","type":"change","z":"44a2ef16.f7762","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":875,"y":1500,"wires":[["ab51ddae.e206b","d178d715.2c9aa8","47945585.1cc7bc","54deee5e.9ad49"]],"l":false},{"id":"d178d715.2c9aa8","type":"rpi-gpio out","z":"44a2ef16.f7762","name":"L Motor -","pin":"38","set":true,"level":"0","freq":"","out":"out","x":1160,"y":1340,"wires":[]},{"id":"47945585.1cc7bc","type":"rpi-gpio out","z":"44a2ef16.f7762","name":"R Motor +","pin":"32","set":true,"level":"0","freq":"","out":"out","x":1160,"y":1400,"wires":[]},{"id":"8d23ac0d.524f8","type":"trigger","z":"44a2ef16.f7762","name":"","op1":"","op2":"0","op1type":"nul","op2type":"num","duration":"1","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":980,"y":1560,"wires":[["ab51ddae.e206b","d178d715.2c9aa8","47945585.1cc7bc","54deee5e.9ad49"]]},{"id":"ba75c89f.160f48","type":"change","z":"44a2ef16.f7762","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":915,"y":1380,"wires":[["ab51ddae.e206b","54deee5e.9ad49"]],"l":false},{"id":"ab51ddae.e206b","type":"rpi-gpio out","z":"44a2ef16.f7762","name":"L Motor +","pin":"40","set":true,"level":"0","freq":"","out":"out","x":1160,"y":1280,"wires":[]},{"id":"54deee5e.9ad49","type":"rpi-gpio out","z":"44a2ef16.f7762","name":"R Motor -","pin":"36","set":true,"level":"0","freq":"","out":"out","x":1160,"y":1460,"wires":[]},{"id":"c6a486f1.43bc18","type":"change","z":"44a2ef16.f7762","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":955,"y":1520,"wires":[["d178d715.2c9aa8","47945585.1cc7bc"]],"l":false}]